// ================== Sidebar Properties =====================
$sidebar-color: #3d3d3d;
$sidebar-font: #fff;
// ================== Sidebar Properties END =================



// ================ Hover Properties ====================
$color-var-1: #d02737;
$color-var-2: #34558b;
// $color-var-3: #F5DF4D;
$color-var-3: #d8b000;
$color-var-4: #1e8000;
$color-var-5: #940045;
$color-var-6: #940020;
$color-var-7: #e77000;
$color-var-8: #000;
$color-var-9: #fff;
// ================ Hover Properties END ================



// =============== Font Sizes ================
$font-size: 17px;
// =============== Font Sizes END ================



// ================ Light Mode ======================
$bg-light: #f4f4f4;
// ================ Light Mode END ======================



// ================ Dark Mode ======================
$bg-dark: #272727;
// ================ Dark Mode END ======================



// ========================= Transitions =====================
$trans-low: 0.8s;
$trans-med: 0.5s;
$trans-fast: 0.3s;
// ========================= Transitions END =====================



// ================= Border Radius Properties ===================
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-30: 30px;
// ================= Border Radius Properties END ===================